@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-active div{
    color: black !important;
    border-right: 2px solid black !important;
} */
.slick-dots{
    padding-bottom: 0px !important;
}
